.pag-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 200px;
  padding: 10px;
}
.sort-div {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  height: 35px;
}
.pag {
  margin-left: 450px;
}

.div-main {
  padding-top: 20px;
}
.ButtonDiv {
  display: flex;
  align-items: center;
}
.ButtonDiv button {
  border: 1px solid rgb(0, 0, 0);
  padding: 6px 20px;
  margin-top: -250px;
  margin-left: 300px;
  width: 200px;
}
.ButtonDiv button:hover {
  background-color: black;
  color: white;
}
.options {
  width: 85px;
  font-weight: bold;
  font-size: 11px;
}

.view-sort {
  padding-right: 7px;
}
.paginationWrap {
  width: 40%;
}
.pagination {
  width: 45%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.paginationDot {
  display: flex;
  align-items: center;
}
.imgTag {
  display: flex;
  align-items: center;
}
.pagination a {
  padding: 3px 5px;
}
.pagination a:hover {
  border-bottom: 1px solid red;
}
